@import "base.scss";
//  _____                 _                                 _             _
// / ____|               | |                               | |           | |
// | |       _   _   ___  | |_    ___    _ __ ___      ___  | |_   _   _  | |   ___   ___
// | |      | | | | / __| | __|  / _ \  | '_ ` _ \    / __| | __| | | | | | |  / _ \ / __|
// | |____  | |_| | \__ \ | |_  | (_) | | | | | | |   \__ \ | |_  | |_| | | | |  __/ \__ \
// \_____|  \__,_| |___/  \__|  \___/  |_| |_| |_|   |___/  \__|  \__, | |_|  \___| |___/
//                                                                 __/ |
//                                                                |___/

.hc-dropdown {
    z-index: 90000;
    width: 300px;
    position: relative;
}

.hc-drophead {
    transition: all 0.5s ease;
    cursor: pointer;
    background: #777;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    padding: 10px;
    // width: 100%;
    // padding-left: 28px;
    font-size: 1.7rem;
    text-align: left;
    color: white;

    &:hover {
        background: darken(#777, 10%);
    }

    &:after {
        position: absolute;
        display: block;
        content: '\25BC';
        font-size: 0.7em;
        top: 16px;
        color: white;
        right: 25px;
    }
}

.hc-dropmenu {
    display: none;
    width: 100%;
    max-width: 300px;
    max-height: 9999px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: $sans;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;

    li {
        font-family: $sans;
        background: white;
        border-bottom: 1px solid #ccc;
        padding: 12px 10px 8px;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            background: lighten(#ccc, 10%);
        }

        a {
            color: #777;
            font-size: 1.7rem;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
